{% extends 'base.html' %}

{% block title %}
  View Picks
{% endblock %}

{% block content %}
  <h1>View Player Picks</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Player</th>
        {% for week in range(1, 19) %}
          <th>Week {{ week }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for player, data in players_picks.items() %}
        <tr>
          <td>{{ player }}</td>
          {% for week in range(1, 19) %}
            <td>
                {% set pick = data['Picks']['Week' ~ week] %}
                {% if pick == "N/A" %}
                {% if data['Status'] == 'Active' %}
                  &nbsp;  {# Empty cell for future picks #}
                {% else %}
                  {{ pick }}  {# Should already be 'DiedWeekX' for eliminated players #}
                {% endif %}
              {% else %}
                {{ pick }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}  
  
    </tbody>
  </table>
{% endblock %}
